<!DOCTYPE html>
<html>
    <head>
        <title>PowerPing</title>
        <meta charset="UTF-8">
        {%block styles%}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="../static/styles/style.css">
        {%endblock%}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" charset="UTF-8" src="../static/JS/myScript.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
    <!--nav bar-->
    <div id="NavBar"> 
        <img src="../static/logos/logo.png" class = "Logo" alt = "logo">
        <a class = 'TabButton' id = 'Name'>PowerPing</a>
        <a class = 'TabButton' href="/">Home</a>
        <a class = 'TabButton'>Register Battery</a>

    </div>

    <!--start of page-->

    <section id = "BatteryInfo">
        <h1>Register a Battery</h1>
        <div class = "container-fluid">
            <div class = "row">
                <form action="/register" method="post">
                    <div class="form-group">
                        <label for="name">Battery Name:</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter battery name" name="name" required>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>